<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería</title>
    <link rel="icon" type="image/png" href="/src/public/img/icono.png" sizes="16x16"> <!-- Asegúrate de que esta ruta sea correcta -->
    <!-- Llamando al archivo CSS del inicio -->
    <link href="/css/styles.css" rel="stylesheet"> <!-- Asegúrate de que esta ruta también sea correcta -->
</head>
<body>
    <main class="index">
      <header class="bg-image d-flex">
        <div class="text-center m-auto p-5 bg-dark">
          <h1 class="mb-1 display-1">Librería</h1>
          <h3 class="mb-5">
            <em>LIBRERÍA</em>
          </h3>
          <a class="btn btn-primary btn-lg" href="/signin">
            Iniciar
          </a>
        </div>
        <div class="overlay"></div>
      </header>
    </main>
</body>
</html>
